<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">
    <meta name="author" content="{{author}}">
    <title>{{title}}</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <!-- Header content, like an App bar, search tool, dark mode etc.-->
        </header>
        <main class="content">
            <div class="container" role="main">
                <h1 class="title">{{title}}</h1>
                <div>{{content}}</div>
            </div>
        </div>
        <footer role="contentinfo" class="footer">
            <div class="metadata">
                <p>Created by {{creator}}</p>
                <p>Created on {{created}}</p>
                <p>Last modified on {{lastmodified}}</p>
            </div>
        </footer>
    </div> 
</body>
</html>
